<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title></title>
  </head>
  <body>
    {% include "navbar.html" %}
    <h1 style="position: fixed; top: 50%;width: 100%; margin-top: -50px; text-align: center; font-size: 300%; color: white; animation: fade-in 2s 1, rotate-around 5s infinite linear;">TOP 1# SCHOOL SYSTEM?</h1>
    <p style="position: fixed; top: 50%;width: 100%; margin-top: 10px; text-align: center; font-size: 150%; color: white; animation: fade-in 2s 1;">A school system for free.</p>
    <p style="position: fixed; top: 53%;width: 100%; margin-top: 10px; text-align: center; font-size: 100%; color: white; opacity: 0.75; animation: fade-in 2s 1;"><strong>{{ counter }}</strong> people signed up!</p>
  </body>
</html>
