<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title></title>

  </head>
  <body>
    {% include "navbar.html" %}

    {% for user in users %}
      <div class="ur" style="float: left; margin-bottom: 7px;">
        <p style="margin-bottom: -5px;"><strong>Username:</strong> {{ user.name }} <strong>ID:</strong> {{ user.id }}</p>

        {% if user.name == "Abdxrrahman" %}
          <a style="color: blue; font-size: 120%;">•</a>
        {% endif %}



        {% if user.online %}
          <a style="color: green; font-size: 120%;">•</a>
        {% endif %}

        {% if current_user.name == user.name %}
          <a style="color: orange; font-size: 120%;">•</a>
        {% endif %}

        {% if current_user.name == "Abdxrrahman" %}
          {% if not user.name == "Abdxrrahman" %}
            <a href="delete/{{ user.id }}" style="color: red; font-size: 120%;">•</a>
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  </body>
</html>
