<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title></title>

  </head>
  <body>
    {% include "navbar.html" %}

    {% for user in users %}
    {% if user.school == current_user.school %}
      <div class="ur" style="animation: slide-to-left 2s 1; float: left; margin-bottom: 7px;">



        {% if user.admin == true %}
          <p style="margin-bottom: -5px; border-bottom: 1px solid #bf4a31;"><strong>Name:</strong> {{ user.name }}</p>
          <a style="color: black; font-size: 80%;">Adminstrator at <i>{{ user.school }}</i></a>
          <br>
        {% elif user.teacher == true %}
          <p style="margin-bottom: -5px; border-bottom: 1px solid #bf4a31;"><strong>Name:</strong> {{ user.name }}</p>
          <a style="color: black; font-size: 80%;">Teacher at <i>{{ user.school }}</i></a>
          <br>
        {% elif user.principal == true %}
          <p style="margin-bottom: -5px; border-bottom: 1px solid #bf4a31;"><strong>Name:</strong> {{ user.name }}</p>
          <a style="color: black; font-size: 80%;">Principal at <i>{{ user.school }}</i></a>
          <br>
        {% elif user.verified %}
          <p style="margin-bottom: -5px; border-bottom: 1px solid #bf4a31;"><strong>Name:</strong> {{ user.name }} <strong>Year:</strong> {{ user.year }}</p>
          <a style="color: black; font-size: 80%;">Student at <i>{{ user.school }}</i></a>
          <br>
        {% else %}
          <p style="margin-bottom: -5px; border-bottom: 1px solid #bf4a31;"><strong>Name:</strong> {{ user.name }} <strong>Year:</strong> {{ user.year }}</p>
          <a style="color: black; font-size: 80%;">Applying for <i>{{ user.school }}</i></a>
          <br>
        {% endif %}




        {% if user.verified %}
          <a style="color: green; font-size: 120%;">•</a>
          {% if user.admin == False and current_user.admin == True and user.teacher == False  and user.principal == False %}
          <a style="color: purple; font-size: 120%;" href="unverify/{{ user.id }}">•</a>
          {% endif %}
        {% elif user.admin == False and current_user.admin == True and user.teacher == False  and user.principal == False %}
          <a style="color: purple; font-size: 120%;" href="verify/{{ user.id }}">•</a>
        {% endif %}

        {% if current_user.name == user.name %}
          <a style="color: orange; font-size: 120%;">•</a>
        {% endif %}

        {% if current_user.admin == True %}
          {% if user.verified %}
            <a href="user/{{ user.name }}" style="color: aqua; font-size: 120%;">•</a>
          {% endif %}
        {% endif %}

        {% if current_user.admin == True %}
          {% if not user.name == current_user.name and user.teacher == False and user.principal == False %}
            <a href="delete/{{ user.id }}" style="color: red; font-size: 120%;">•</a>
          {% endif %}
        {% endif %}
        <br>
      </div>
    {% endif %}
    {% endfor %}
  </body>
</html>
