body {
  position: relative;
  padding: 0;
  margin: 0;
  height: auto;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #bf4a31;
}

a {
  text-decoration: none;
  text-decoration-style: none;
  color: #bf4a31;
}

.nb {
  margin-top: -25px;
  height: 85px;
  background-color: white;
}

.lt {
  padding-top: 20px;
  padding-left: 10px;
  font-size: 150%;
  color: #bf4a31;
}

.lrb {
  margin-right: 20px;
  width: 80px;
  height: 30px;
  float: right;
  margin-top: -60px;
  border: 0;
  background-color: #bf4a31;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  border-radius: 20px;
}

.lrb a {
  color: white;
}

.ur {
  margin-left: 2%;
  width: 47%;
  height: auto;
  background-color: white;
  text-align: center;
  font-size: 110%;
  border-radius: 10px;
}

.it {
  border: 0.01px solid #bf4a31;
  border-width: thin;
  border-style: dashed;
  border-radius: 20px;
  color: #bf4a31;
  padding-left: auto;
  width: 90%;
  text-align-last: center;
  height: 30px;
}

.lfh label {
  font-size: 150%;
}
.lfh button {
  border-style: dashed;
  border: 0.01px solid #bf4a31;
  border-width: thin;
  background: #bf4a31;
  border-radius: 20px;
  width: 80%;
  height: 30px;
  margin-top: 20px;
  color: white;
}

.lfh {
  text-align: center;
  width: 100%;
  height: 100px;
}

.lf {
  color: #bf4a31;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 40vh;
  height: 350px;
  border-radius: 2px;
}

.pb {
  margin-top: 10px;
  width: 90%;
  height: auto;
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-size: 200%;
  color: #bf4a31;
}

.ar {
  color: #bf4a31;
  width: 25%;
  height: 500px;
  background: white;
  margin-left: 5%;
}

.pi {
  color: #bf4a31;
  margin-top: -516px;
  width: 63%;
  height: 500px;
  background: white;
  margin-left: 32%;
}
